.box {
    width: auto;
    background: #488aff;
    border-radius: 25px;
    padding: 30px;
    box-shadow: 5px 5px 5px lightgrey;
    color: white;
    margin: 30px;
}

.center{
    margin: auto;
    width: 100%;
    margin-top: 5px;
}